[mysqld]
default-storage-engine=INNODB
character-set-server=utf8
collation-server=utf8_general_ci

symbolic-links=0
skip-host-cache

slow_query_log = 1
slow_query_log_file = /var/lib/mysql/mysql-slow.log
long_query_time = 3

skip-name-resolve
max_connections = 10000
max_connect_errors=100000
interactive_timeout = 360
wait_timeout = 604800
max_allowed_packet = 100M
sort_buffer_size = 20M
read_buffer_size = 4M
join_buffer_size = 128M
innodb_thread_concurrency = 32
tmp_table_size = 256M
thread_cache_size = 800
query_cache_type = 1
query_cache_size = 512M

innodb_lock_wait_timeout = 50
general_log = 0
event_scheduler = on
log-slave-updates = 1
max_binlog_size = 512M

server_id=1
log_bin=master
binlog_format='mixed'
port=4273
default-time_zone = '+8:00'
max_allowed_packet  = 160M

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
